version: '3.1'
services:
  stats-server:
    build: ./stats/stats-server
    image: stats-server
    container_name: stats-server
    ports:
      - "9090:9090"
    depends_on:
      - stats-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/postgres
      - SPRING_DATASOURCE_USERNAME=kitty
      - SPRING_DATASOURCE_PASSWORD=purrrrrr

  stats-db:
    image: postgres:14-alpine
    container_name: stats-db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_PASSWORD=purrrrrr
      - POSTGRES_USER=kitty
      - POSTGRES_DB=postgres

  ewm-main-service:
    build: ./main-service
    image: ewm-main-service-image
    container_name: ewm-main-service
    ports:
      - "8080:8080"
    depends_on:
      - ewm-db

  ewm-db:
    image: postgres:14-alpine
    container_name: ewm-db
    ports:
      - "6542:5433"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=kitty
      - POSTGRES_PASSWORD=purrrrrr